<p class="text-card">{{ text }}</p>
<p class="text-card">La DNN posee el Consejo Superior Notorial, quien nombre una Direccion Ejecutiva que administra y ejecuta lo definido en el seno del Consejo.<br>
    La Direccion Ejecutiva tiene personal definido segun consta a continuacion: </p>