<div class="card card_title-text card_title-text--{{ variant }}">
    {% if title %}
        <h5 class="card_title">{{ title }}</h5>
    {% endif %}
    {% if text %}
        <p class="card_text">{{ text }}</p>
    {% endif %}
    {% if button %}
        <div class="card_button">{{ button }}</div>
    {% endif %}
</div>